@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  box-sizing: border-box;
}
*,
::before,
::after {
  border-top-color: rgb(228, 228, 231);
  border-right-color: rgb(228, 228, 231);
  border-bottom-color: rgb(228, 228, 231);
  border-left-color: rgb(228, 228, 231);
}

/* CSS */
.swatch_1 {
  background: #f9f8fb;
}
.swatch_2 {
  background: #e5d4f3;
}
.swatch_3 {
  background: #c5acda;
}
.swatch_4 {
  background: #cbd0d7;
}
.swatch_5 {
  background: #825da3;
}

.admin-bg {
  background: #f6f6f7;
}

.main-bg {
  background: linear-gradient(to bottom, #fbe7e9 0%, #9587da 100%);
}

.arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;

  border-right: 10px solid rgb(248, 113, 113);
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 60px solid transparent;
  border-bottom: 60px solid transparent;

  border-left: 60px solid rgb(248, 113, 113);
}

.border-bottom {
  border-bottom: 3px solid #5f529b;
  border-radius: 2px;
}

.nav-height {
  height: 70px;
  border-radius: 2px;
}

.leftpx {
  left: 105px;
}


/* spinner css */

.loader {
  border-top-color: #3498db;

  -webkit-animation: spinner 2s linear infinite;
  animation: spinner 2s linear infinite;
}

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}